.ir-field {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 1em;
	padding: 0 0.5em;

	input:not([type="radio"]):not([type="checkbox"]):not([size]),
	textarea,
	select,
	.ir-select {
		width: 100%;
		max-width: 100%;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

	.ir-field__label {
		color: var(--ir-label-fg-color);
		display: block;
		font-weight: 600;
		margin-bottom: 0.25em;
	}