.ir-button-group {
	display: inline-flex;
	vertical-align: middle;

	& + .ir-button-group {
		margin-left: 0.5em;
	}

	&:not(.ir-button-group--vertical)
	{
		.ir-button {
			display: inline-flex;
			flex: 1 1 auto;

			&:not(:last-child)
			{
				border-right: 1px solid var(--ir-action-active-color);
			}
			&:not(:first-child)
			{
				border-left: none;
			}

			&:first-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:not(:first-child):not(:last-child) {
				border-radius: 0;
			}

			&:last-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	&.ir-button-group--vertical {
		flex-direction: column;

		.ir-button {
			display: inline-flex;
			flex: 1;

			&:not(:last-child) {
				border-bottom: 1px solid var(--ir-action-active-color);
			}

			&:not(:first-child) {
				border-top: none;
			}

			&:first-child {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:not(:first-child):not(:last-child) {
				border-radius: 0;
			}

			&:last-child {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
}
