:root {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	outline: none;
	outline: 0;
	outline-offset: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
	/* remove webkit tap highlight */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border-color: currentColor;
	//line-height: inherit;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	font-size: 14px;
	line-height: 1.15;
	width: 100%;
	height: 100%;
	// remove 300ms delay (and double tap to zoom)
	touch-action: manipulation;
}

@-ms-viewport {
	width: device-width;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	min-width: 0;
    margin:0;
    padding:0;
    border:0;
	font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	-webkit-text-size-adjust: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main,
details, summary {
	display: block;
}


body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	text-align: left;
	background-color: #FFF;
	color: #000;
}

template {
	display: none;
}

iframe {
	vertical-align: middle;
}

/* remember to define focus styles! */
*:focus,
*:active {
	outline: 0;
}

  
[hidden] {
	display: none !important;
}
[unselectable] {
	user-select: none;
}





