
// displays
.ir-block {
	display: block;
}
.ir-inline {
	display: inline;
}
.ir-hide {
	display: none;
}
.ir-inline-block {
	display: inline-block;
}
.ir-flex {
	display: flex;
}
.ir-flex-row {
	display: flex;
	flex-direction: row;
}
.ir-flex-col {
	display: flex;
	flex-direction: column;
}
.ir-flex-wrap {
	flex-wrap: wrap;
}
.ir-flex__flexible {
	width: auto;
	flex: 1 1;
}

.ir-flex--start {
	justify-content: flex-start;
	align-items: flex-start;
}
.ir-flex--center {
	justify-content: center;
	align-items: center;
}
.ir-flex--end {
	justify-content: flex-end;
	align-items: flex-end;
}

@for $i from 0 through 10 {
	
	.ir-order-#{$i} {
		order: $i;
	}
}

.ir-no-appearance {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}


// Alignment
.ir-va-top {
	vertical-align: top;
}
.ir-va-middle {
	vertical-align: middle;
}
.ir-va-bottom {
	vertical-align: bottom;
}


.ir-va-content-middle {
	display: flex;
	align-items: center;
}



.ir-scroll {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.ir-noscroll {
	overflow: hidden;
}
