/*--

@type:		category
@title:		Typo
@category:	Typo

--*/

.ir-break-word {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	word-wrap: break-word;      /* IE 5+ */
}
.ir-nowrap {
	white-space: nowrap;
}
.ir-wrap {
	white-space: normal;
}
.ir-ellipsis
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@for $i from 1 through 10 {
	.ir-big#{$i} {
		font-size: 1em + (0.2 * $i);
	}
}

@for $i from 1 through 10 {
	.ir-small#{$i} {
		font-size: 1em - (0.1 * $i);
	}
}



.ir-reset-typo {
	font-family: inherit;
	font-style: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-decoration: none;
	border-style: none;
	outline: none;
}




// Alignment
.ir-left {
	text-align: left;
}
.ir-center {
	text-align: center;
}
.ir-right {
	text-align: right;
}
.ir-justify {
	text-align: justify;
}
.ir-upper {
	text-transform: uppercase;
}
.ir-lower {
	text-transform: lowercase;
}
.ir-cap {
	text-transform: capitalize;
}

/*--

@title:		Press Text
@category:	Typo

**selector**: `.ir-txt-press`

```example:html
<div class="ir-cnt-folio ir-bg-noise">
<h3 class="ir-txt-press">Consectetur Ipsum Mollis Venenatis Purus</h3>
</div>
```

--*/

.ir-txt-press {
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5),
		1px 1px 1px rgba(255, 255, 255, 1);
}

/*--

@title:		Backpress Text
@category:	Typo

**selector**: `.ir-txt-backpress`

```example:html
<div class="ir-cnt-folio">
<h3 class="ir-txt-backpress">Consectetur Ipsum Mollis Venenatis Purus</h3>
</div>
```

--*/

.ir-txt-backpress {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5),
		-1px -1px 1px rgba(255, 255, 255, 0.5);
}

/*--

@title:		Glass Text
@category:	Typo

**selector**: `.ir-txt-glass`

```example:html
<h3 class="ir-txt-glass">Consectetur Ipsum Mollis Venenatis Purus</h3>
```

--*/

.ir-txt-glass {
	opacity: 0.75;
	text-shadow: 0px 0.1em 0.1em currentColor;
}


.ir-clean-text {

	p, ul, ol, iframe, blockquote, pre
	{
		margin: 1em 0em !important;

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	*[style] {
		/*color: inherit @i;*/
		font-size: inherit !important;
		font-family: inherit !important;
	}

	iframe,
	img {
		max-width: 100%;
		max-width: 100%;
	}

	img[align="left"],
	img[style*="float:left"],
	img[style*="float: left"] {
		max-width: 50%;
		margin: 0.618em 1.618em 0.618em 0 !important;
	}

	img[align="right"],
	img[style*="float:right"],
	img[style*="float: right"] {
		max-width: 50%;
		margin: 0.618em 0 0.618em 1.618em !important;
	}
}

// LEAD
.ir-lead {
	font-size: 1.25rem;
	font-weight: 300;
}

.ir-fg-primary {
	color: var(--ir-primary-color-m);
}

.ir-fg-accent {
	color: var(--ir-accent-color-m);
}