/*--

@type:		category
@title:		Elements
@category:	Elements

Base styles for HTML elements

--*/

html {
	font-size: var(--ir-base-font-size);
}

body {
	background-color: var(--ir-bg-color);
	color: var(--ir-fg-color);
	font-family: var(--ir-base-font-family);
	line-height: 1.5em;
}
