/*--

@title:		Headings
@category:	Elements
@sequence:	2

**selector**: `h1, .ir-h1`
**selector**: `h2, .ir-h2`
**selector**: `h3, .ir-h3`
**selector**: `h4, .ir-h4`
**selector**: `h5, .ir-h5`
**selector**: `h6, .ir-h6`

```example:html
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
```

--*/

/*--

@title:		Headings sub-text
@category:	Elements
@sequence:	2.1

**selector**: `h1 small`
**selector**: `h2 small`
**selector**: `h3 small`
**selector**: `h4 small`
**selector**: `h5 small`
**selector**: `h6 small`

```example:html
<h1>Heading 1 <small>sub-heading text</small></h1>
<h2>Heading 2 <small>sub-heading text</small></h2>
<h3>Heading 3 <small>sub-heading text</small></h3>
<h4>Heading 4 <small>sub-heading text</small></h4>
<h5>Heading 5 <small>sub-heading text</small></h5>
<h6>Heading 6 <small>sub-heading text</small></h6>
```

--*/

h1, h2, h3, h4, h5, h6,
.ir-h1,
.ir-h2,
.ir-h3,
.ir-h4,
.ir-h5,
.ir-h6 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: var(--ir-heading-color);
	line-height: 1;
	display: block;

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}

	&:empty {
		display: none;
	}

	small {
		color: var(--ir-secondary-fg-color);
		display: block;
		line-height: 1em;
		margin: 0.25em 0;
		font-size: 0.75em;

		&:empty {
			display: none;
		}
	}

	&.ir-accent {
		color: var(--ir-heading-accent-color);
	}


	// inverse
	.ir-inverse &,
	&.ir-inverse {
		color: var(--heading-inverse-color);

		&.ir-accent {
			color: var(--ir-heading-inverse-accent-color);
		}
	}
}


h1,
.ir-h1 {
	font-size: 2.5em;
	font-weight: 200;
}
h2,
.ir-h2 {
	font-size: 2em;
	font-weight: 300;
}
h3,
.ir-h3 {
	font-size: 1.75em;
	font-weight: 400;
}
h4,
.ir-h4 {
	font-size: 1.5em;
	font-weight: 500;
}
h5,
.ir-h5 {
	font-size: 1.25em;
	font-weight: 600;
}
h6,
.ir-h6 {
	font-size: 1em;
	font-weight: 700;
}
