

.ir-form input:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
.ir-input,
.ir-form textarea
.ir-select select {
	padding: 0 0.5em;
	height: 2em;
	line-height: calc(2em - 2px);
	border: 1px solid var(--ir-input-border-color);
	border-radius: var(--ir-border-radius);
	background-color: var(--ir-input-bg-color);
	color: var(--ir-input-fg-color);
	

	&:focus {
		border-color: var(--ir-action-color);
	}

	&::placeholder {
		color: var(--ir-placeholder-color);
	}
}

