/*--

@type:		category
@title:		Buttons
@category:	Form / Buttons

Button styles can be applied to any element.
Typically you'll want to use either a `<button>` or an `<a>` element.

--*/


/*--

@title:		Button
@category:	Form / Buttons

**selector**: `.ir-btn`

```example:html
<a href="#" class="ir-btn">My Button</a>
```

--*/

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.ir-btn,
a.ir-btn:not(.ir-nostyle) {
	width: auto;
	overflow: visible;
	display: inline-flex;
	padding: 0em 0.6em;
	line-height: 2em;
	height: 2em;
	background-color: var(--ir-action-color);
	color: var(--ir-action-fg-color);
	border-radius: var(--ir-border-radius);
	font-weight: bold;
	box-shadow: 0 0.1em 0.1em var(--ir-shadow-color);
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	position: relative;
	text-decoration: none;
	cursor: pointer;


	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
		outline: 0;
	}

	&:focus,
	&:active,
	&::-moz-focus-inner {
		outline: none;
	}

	&:hover {
		background-color: var(--ir-action-active-color) !important;
		text-decoration: none;
	}

	&:active,
	&.ir-btn--active {
		box-shadow: 0 0 0 var(--ir-shadow-color);
	}

/*--

@title:		Thin Button
@category:	Form / Buttons

**selector**: `.ir-btn.ir-btn--thin`

```example:html
<a href="#" class="ir-btn ir-btn--thin">My Button</a>
```

--*/

	&.ir-btn--thin {
		font-size: 0.85em;
	}

/*--

@title:		Big Button
@category:	Form / Buttons

**selector**: `.ir-btn.ir-btn--big`

```example:html
<a href="#" class="ir-btn ir-btn--big">My Button</a>
```

--*/

	&.ir-btn--big {
		font-size: 1.2em;
	}

/*--

@title:		Wide Button
@category:	Form / Buttons

**selector**: `.ir-btn.ir-btn--wide`

```example:html
<a href="#" class="ir-btn ir-btn--wide">My Button</a>
```

--*/

	&.ir-btn--wide {
		width: 100%;
		display: block;
	}

/*--

@title:		Disabled Button
@category:	Form / Buttons

**selector**: `.ir-btn.ir-btn--disabled`

```example:html
<a href="#" class="ir-btn ir-btn--disabled">My Button</a>
```

--*/

	&.ir-btn--disabled,
	&:disabled,
	&[disabled] {
		cursor: not-allowed;
		opacity: 0.7;
		pointer-events: none;
	}


	// Preset for Font-Awesome and Material-Icons
	.fa,
	.fas,
	.far,
	.fal,
	.fab,
	.mi {
		width: 1.25em;
		margin-right: 0.5em;
	}

	/*--

@title:		Accent Color Button
@category:	Form / Buttons

**selector**: `.ir-btn.ir-accent`

```example:html
<a href="#" class="ir-btn ir-accent">My Button</a>
```

--*/

&.ir-accent {
	background-color: var(--ir-accent-color-d);

	&:hover {
		background-color: var(--ir-accent-color-m) !important;
	}
}

/*--

@title:		Danger State Button
@category:	Form / Buttons

**selector**: `.ir-btn.ir-btn--error`
**selector**: `.ir-btn.ir-btn--critical`
**selector**: `.ir-btn.ir-btn--danger`

```example:html
<a href="#" class="ir-btn ir-btn--danger">My Button</a>
```

--*/

	&.ir-btn--error,
	&.ir-btn--critical,
	&.ir-btn--danger {
		background-color: var(--ir-danger-color-d);

		&:hover {
			background-color: var(--ir-danger-color-m) !important;
		}
	}

/*--

@title:		Warning State Button
@category:	Form / Buttons

**selector**: `.ir-btn.ir-btn--warning`

```example:html
<a href="#" class="ir-btn ir-btn--warning">My Button</a>
```

--*/

	&.ir-btn--warning {
		background-color: var(--ir-warning-color-d);

		&:hover {
			background-color: var(--ir-warning-color-m) !important;
		}
	}

/*--

@title:		Success State Button
@category:	Form / Buttons

**selector**: `.ir-btn.ir-btn--success`

```example:html
<a href="#" class="ir-btn ir-btn--success">My Button</a>
```

--*/

	&.ir-btn--success {
		background-color: var(--ir-success-color-d);

		&:hover {
			background-color: var(--ir-success-color-m) !important;
		}
	}

/*--

@title:		Rounded Button
@category:	Form / Buttons

**selector**: `.ir-btn.ir-btn--rounded`

```example:html
<a href="#" class="ir-btn ir-btn--rounded">My Button</a>
<a href="#" class="ir-btn ir-btn--rounded ir-accent">My Button</a>
<a href="#" class="ir-btn ir-btn--rounded ir-btn--danger">My Button</a>
<a href="#" class="ir-btn ir-btn--rounded ir-btn--warning">My Button</a>
<a href="#" class="ir-btn ir-btn--rounded ir-btn--success">My Button</a>
```

--*/

	&.ir-btn--rounded {
		border-radius: 1em;
	}

/*--

@title:		Outline Button
@category:	Form / Buttons

**selector**: `.ir-btn.ir-btn--outline`

```example:html
<a href="#" class="ir-btn ir-btn--outline">My Button</a>
<a href="#" class="ir-btn ir-btn--outline ir-accent">My Button</a>
<a href="#" class="ir-btn ir-btn--outline ir-btn--danger">My Button</a>
<a href="#" class="ir-btn ir-btn--outline ir-btn--warning">My Button</a>
<a href="#" class="ir-btn ir-btn--outline ir-btn--success">My Button</a>
```

--*/

	&.ir-btn--outline {
		background: var(--ir-bg-color) !important;
		border-width: 1px;
		border-style: solid;
		color: var(--ir-action-color);
		line-height: 1.9em;

		&:hover {
			background-color: var(--ir-bg-color) !important;
			color: var(--ir-action-active-color);
			border-color: var(--ir-action-active-color) !important;
		}

		&.ir-accent {
			border-color: var(--ir-accent-color-d);
			color: var(--ir-accent-color-d);;

			&:hover {
				color: var(--ir-accent-color-m);
				border-color: var(--ir-accent-color-m) !important;
			}
		}

		&.ir-btn--error,
		&.ir-btn--critical,
		&.ir-btn--danger {
			border-color: var(--ir-danger-color-d);
			color: var(--ir-danger-color-d);;

			&:hover {
				color: var(--ir-danger-color-m);
				border-color: var(--ir-danger-color-m) !important;
			}
		}
		&.ir-btn--warning {
			border-color: var(--ir-warning-color-d);
			color: var(--ir-warning-color-d);;

			&:hover {
				color: var(--ir-warning-color-m);
				border-color: var(--ir-warning-color-m) !important;
			}
		}
		&.ir-btn--success {
			border-color: var(--ir-success-color-d);
			color: var(--ir-success-color-d);;

			&:hover {
				color: var(--ir-success-color-m);
				border-color: var(--ir-success-color-m) !important;
			}
		}
	}

/*--

@title:		Discrete Button
@category:	Form / Buttons

**selector**: `.ir-btn.ir-btn--discrete`

```example:html
<a href="#" class="ir-btn ir-btn--discrete">My Button</a>
<a href="#" class="ir-btn ir-btn--discrete ir-accent">My Button</a>
<a href="#" class="ir-btn ir-btn--discrete ir-btn--danger">My Button</a>
<a href="#" class="ir-btn ir-btn--discrete ir-btn--warning">My Button</a>
<a href="#" class="ir-btn ir-btn--discrete ir-btn--success">My Button</a>
```

--*/

	&.ir-btn--discrete {
		background: var(--ir-bg-color) !important;
		color: var(--ir-action-color);
		box-shadow: none;

		&:hover {
			background-color: var(--ir-bg-color) !important;
			color: var(--ir-action-active-color);
			box-shadow: 0 0 0.2em currentColor inset;
		}

		&.ir-accent {
			color: var(--ir-accent-color-d);

			&:hover {
				color: var(--ir-accent-color-m);
			}
		}

		&.ir-btn--error,
		&.ir-btn--critical,
		&.ir-btn--danger {
			color: var(--ir-danger-color-d);

			&:hover {
				color: var(--ir-danger-color-m);
			}
		}
		&.ir-btn--warning {
			color: var(--ir-warning-color-d);

			&:hover {
				color: var(--ir-warning-color-m);
			}
		}
		&.ir-btn--success {
			color: var(--ir-success-color-d);;

			&:hover {
				color: var(--ir-success-color-m);
			}
		}
	}
}
