.ir-form {
	margin: 1em 0;
}


label {
	display: inline-block;
}

output {
	display: inline-block;
}
  
summary {
	display: list-item;
	cursor: pointer;
}



input,
textarea,
select,
optgroup,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border-radius: 0;
	margin: 0;
	padding: 0;
	border-style: none;
	text-transform: none;
	max-width: 100%;
	vertical-align: middle;

	&:focus {
		outline: none;
	}
}


textarea {
	overflow: auto;
	resize: none;
}



input,
select {
	vertical-align: middle;
}