.ir-select {
	display: inline-block;
	position: relative;
	min-height: 2em;

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		cursor: pointer;

		&::-ms-expand {
			display: none;
		}
	}

	&::after {
		content: '▾';
		width: calc(2em - 2px);
		height: calc(2em - 2px);
		position: absolute;
		right: 1px;
		top: 1px;
		text-align: center;
		line-height: calc(2em - 2px);
		background: linear-gradient(90deg, var(--ir-input-bg-color-0), var(--ir-input-bg-color));
		color: var(--ir-action-color);
		pointer-events: none;
		border-radius: var(--ir-border-radius);
	}
}