.ir-form input[type="checkbox"],
.ir-form input[type="radio"],
.ir-checkbox,
.ir-radio {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	display: inline-block;
	vertical-align: middle;
	padding: 0;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.4em;

	background-color: var(--ir-action-fg-color);
	border: 0.1em solid var(--ir-input-border-color);
	border-radius: var(--ir-border-radius);
	box-shadow: 0 0.1em 0.3em var(--ir-shadow-color) inset;
	cursor: pointer;
	text-align: center;

	&::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		border-radius: var(--ir-border-radius);
		width: 0.7em;
		height: 0.7em;
		//background-color: var(--ir-action-light-color);
	}

	&:focus {
		border-color: var(--ir-action-color);
	}

	&:checked {
		//background-color: var(--ir-action-light-color);
		//border-color: var(--ir-action-color);

		&::before {
			background-color: var(--ir-action-color);
			box-shadow: 0 0.1em 0.3em var(--ir-shadow-color);
		}
	}
}

.ir-form input[type="radio"],
.ir-radio {
	border-radius: 50%;

	&::before {
		border-radius: 50%;
	}
}