
@mixin aspect($w: 16, $h: 9) {
	width: 100%;
	padding: 0;
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 100%;
		padding-top: 100% / $w * $h;
	}

	& > *:first-child {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

.aspect-1x1 {
	@include aspect(1, 1);
}
.aspect-4x3 {
	@include aspect(4, 3);
}
.aspect-16x9 {
	@include aspect(16, 9);
}
.aspect-21x9 {
	@include aspect(21, 9);
}