.ir-cols {
	display: flex;
	width: 100%;
	margin: 1em 0;
}

.ir-cold__main {
	flex: 1 1 auto;
}

.ir-cols__side {
	flex: 0 0 auto;

	&:first-child {
		margin-right: 1em;
	}

	&:last-child {
		margin-left: 1em;
	}
}