.ir-fg-action {
	color: var(--ir-action-color);
}

.ir-fg-action-active {
	color: var(--ir-action-active-color);
}

.ir-fg-success {
	color: var(--ir-success-color-m);
}

.ir-fg-info {
	color: var(--ir-info-color-m);
}

.ir-fg-warning {
	color: var(--ir-warning-color-m);
}

.ir-fg-danger,
.ir-fg-critical,
.ir-fg-error {
	color: var(--ir-danger-color-m);
}

.ir-fg-red {
	color: var(--ir-red-color-m);
}

.ir-fg-orange {
	color: var(--ir-orange-color-m);
}

.ir-fg-yellow {
	color: var(--ir-yellow-color-m);
}

.ir-fg-green {
	color: var(--ir-green-color-m);
}

.ir-fg-teal {
	color: var(--ir-teal-color-m);
}

.ir-fg-sky {
	color: var(--ir-sky-color-m);
}

.ir-fg-blue {
	color: var(--ir-blue-color-m);
}

.ir-fg-purple {
	color: var(--ir-purple-color-m);
}

.ir-fg-pink {
	color: var(--ir-pink-color-m);
}

.ir-fg-lgray {
	color: var(--ir-lgray-color-m);
}

.ir-fg-mgray {
	color: var(--ir-mgray-color-m);
}

.ir-fg-dgray {
	color: var(--ir-dgray-color-m);
}

.ir-bg-success {
	background-color: var(--ir-success-color-l);
}

.ir-bg-info {
	background-color: var(--ir-info-color-l);
}

.ir-bg-warning {
	background-color: var(--ir-warning-color-l);
}

.ir-bg-danger,
.ir-bg-critical,
.ir-bg-error {
	background-color: var(--ir-danger-color-l);
}

.ir-bg-red {
	background-color: var(--ir-red-color-l);
}

.ir-bg-orange {
	background-color: var(--ir-orange-color-l);
}

.ir-bg-yellow {
	background-color: var(--ir-yellow-color-l);
}

.ir-bg-green {
	background-color: var(--ir-green-color-l);
}

.ir-bg-teal {
	background-color: var(--ir-teal-color-l);
}

.ir-bg-sky {
	background-color: var(--ir-sky-color-l);
}

.ir-bg-blue {
	background-color: var(--ir-blue-color-l);
}

.ir-bg-purple {
	background-color: var(--ir-purple-color-l);
}

.ir-bg-pink {
	background-color: var(--ir-pink-color-l);
}

.ir-bg-lgray {
	background-color: var(--ir-lgray-color-l);
}

.ir-bg-mgray {
	background-color: var(--ir-mgray-color-l);
}

.ir-bg-dgray {
	background-color: var(--ir-dgray-color-l);
}