.ir-grid {
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(12, 1fr);
}

@for $i from 1 through 3 {
	.ir-grid--gap-#{$i} {
		grid-gap: $i * 1em
	}
}

@for $i from 2 through 6 {
	.ir-grid--span-#{$i} {
		grid-row-end: span $i;
	}
}

@for $i from 1 through 12 {
	.ir-grid__#{$i} {
		grid-column-end: span $i;
	}
}

@media only screen and (max-width: 639px) {

	.ir-grid__1,
	.ir-grid__2,
	.ir-grid__3,
	.ir-grid__4,
	.ir-grid__5,
	.ir-grid__6,
	.ir-grid__7,
	.ir-grid__8,
	.ir-grid__9,
	.ir-grid__10,
	.ir-grid__11,
	.ir-grid__12 {
		grid-column-end: span 12;
	}
}