/*--

@type:		category
@title:		Animations
@category:	Animations
@icon:		<i class="fas fa-spinner"></i>

--*/

/*--

@type:		category
@title:		Loaders
@category:	Animations / Loaders
@icon:		<i class="fas fa-spinner"></i>

--*/


/*--

@title:		Loader 1
@category:	Animations / Loaders

**selector**: `.ir-loader-1`

```example:html
<div class="ir-loader-1"></div>
```

--*/


.ir-loader-1 {
	display: inline-block;
	width: 4em;
	height: 4em;
	background-color: var(--ir-action-color);
	border-radius: 50%;
	position: relative;

	&::before,
	&::after {
		content: '';
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		background-color: var(--ir-action-color);
	}

	&::before {
		width: 1em;
		height: 1em;
		margin: -0.5em 0 0 -0.5em;
		animation: ir-loader-1-1 1000ms linear infinite;
	}

	&::after {
		width: 2em;
		height: 2em;
		margin: -1em 0 0 -1em;
		animation: ir-loader-1-2 1000ms linear infinite;
		background-color: var(--ir-action-color);
	}
}

@keyframes ir-loader-1-1 {
	0% {transform: rotate(0deg) translateY(-1em); background-color: var(--ir-action-fg-color); }
	50% { background-color: var(--ir-action-active-color); }
	100% {transform: rotate(360deg) translateY(-1em); background-color: var(--ir-action-fg-color); }
}
@keyframes ir-loader-1-2 {
	0% {transform: rotate(0deg) translateY(0.75em); background-color: var(--ir-action-active-color); }
	50% { background-color: var(--ir-action-fg-color); }
	100% {transform: rotate(360deg) translateY(0.75em); background-color: var(--ir-action-active-color); }
}

/*--

@title:		Loader 2
@category:	Animations / Loaders

**selector**: `.ir-loader-2`

```example:html
<div class="ir-loader-2"></div>
```

--*/

.ir-loader-2 {
	display: inline-block;
	width: 4em;
	height: 4em;
	position: relative;
	perspective: 100px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--ir-action-color);
		//border-radius: 50% 0 50% 0;
		animation: ir-loader-2 2000ms linear infinite;
	}
}

@keyframes ir-loader-2 {
	0% {
		transform: rotateY(0deg);
	}
	25% {
		transform: rotateY(180deg);
	}
	50% {
		transform: rotateY(180deg) rotateX(-180deg);
	}
	75% {
		transform: rotateY(180deg) rotateX(-180deg) rotateY(-180deg);
	}
	100% {
		transform: rotateY(180deg) rotateX(-180deg) rotateY(-180deg) rotateX(180deg);
	}
}

/*--

@title:		Loader 3
@category:	Animations / Loaders

**selector**: `.ir-loader-3`

```example:html
<div class="ir-loader-3"></div>
```

--*/

.ir-loader-3 {
	display: inline-block;
	width: 4em;
	height: 4em;
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 2em;
		height: 2em;
		background-color: var(--ir-action-color);
	}
	&::before {
		animation: ir-loader-3-1 1000ms linear infinite;
	}
	&::after {
		animation: ir-loader-3-2 1000ms linear infinite;
	}
}

@keyframes ir-loader-3-1 {
	0% {
		transform: translate(0em, 0em);
	}
	25% {
		transform: translate(2em, 0em);
	}
	50% {
		transform: translate(2em, 2em);
	}
	75% {
		transform: translate(0em, 2em);
	}
	100% {
		transform: translate(0em, 0em);
	}
}

@keyframes ir-loader-3-2 {
	0% {
		transform: translate(2em, 2em);
	}
	25% {
		transform: translate(0em, 2em);
	}
	50% {
		transform: translate(0em, 0em);
	}
	75% {
		transform: translate(2em, 0em);
	}
	100% {
		transform: translate(2em, 2em);
	}
}

/*--

@title:		Loader 4
@category:	Animations / Loaders

**selector**: `.ir-loader-4`

```example:html
<div class="ir-loader-4"></div>
```

--*/

.ir-loader-4 {
	display: inline-block;
	width: 4em;
	height: 4em;
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 4em;
		height: 4em;
		opacity: 0.5;
		border-radius: 50%;
		background-color: var(--ir-action-color);
		animation: ir-loader-4 1000ms ease-in-out infinite alternate;
	}
	&::after {
		animation-delay: -1000ms;
	}
}

@keyframes ir-loader-4 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
