.ir-panel {
	border: 1px solid var(--ir-panel-border-color);
	border-radius: 0.2em;
	margin-top: 1em;
}
	.ir-panel__body {
		padding: 0.5em 1em;
	}
	.ir-panel__head,
	.ir-panel__foot {
		background-color: var(--ir-panel-header-color);
		border-top: 1px solid var(--ir-panel-border-color);
		border-bottom: 1px solid var(--ir-panel-border-color);
		font-weight: 600;
		padding: 0.5em 1em;

		&:first-child {
			border-top-left-radius: 0.2em;
			border-top-right-radius: 0.2em;
			border-top-width: 0;
		}

		&:last-child {
			border-bottom-left-radius: 0.2em;
			border-bottom-right-radius: 0.2em;
			border-bottom-width: 0;
		}
	}