.ir-breadcrumb {
	background-color: var(--ir-bar-bg-color);
	color: var(--ir-secondary-fg-color);
	border-radius: 0.2em;
	padding: 0.5em 1em;

	a, span {
		display: inline-block;
	}

	.ir-breadcrumb__sep {
		&::before {
			content: '»';
			padding: 0 0.5em;
		}
	}
}