// TODO: docs

// displays
@include responsive("block") {
	display: block;
}
@include responsive("inline") {
	display: inline;
}
@include responsive("hide") {
	display: none;
}
@include responsive("inline-block") {
	display: inline-block;
}
@include responsive("flex") {
	display: flex;
}
@include responsive("flex-row") {
	display: flex;
	flex-direction: row;
}
@include responsive("flex-col") {
	display: flex;
	flex-direction: column;
}
@include responsive("flex-wrap") {
	flex-wrap: wrap;
}
@include responsive("flex-flexible") {
	width: auto;
	flex: 1 1;
}

@include responsive("flex-start") {
	justify-content: flex-start;
	align-items: flex-start;
}
@include responsive("flex-center") {
	justify-content: center;
	align-items: center;
}
@include responsive("flex-end") {
	justify-content: flex-end;
	align-items: flex-end;
}

@for $i from 0 through 10 {

	@include responsive(order-#{$i}) {
		order: $i;
	}
}

// Alignment
@include responsive("va-top") {
	vertical-align: top;
}
@include responsive("va-middle") {
	vertical-align: middle;
}
@include responsive("va-bottom") {
	vertical-align: bottom;
}


@include responsive("va-content-middle") {
	display: flex;
	align-items: center;
}



@include responsive("scroll") {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
@include responsive("noscroll") {
	overflow: hidden;
}
