
/*--

@title:		Form
@category:	Form

**selector**: `form`

```example:html
<form action="#">
	<fieldset>
		<legend>Fieldset Legend</legend>
	</fieldset>
</form>
```

--*/

form:not(.nostyle),
.form {
	margin: 1em 0;
}

fieldset:not(.nostyle),
.fieldset {
	margin: 2em 0 1em 0;
	border: 1px solid var(--ir-light-border-color);
	padding: 1em;
	border-radius: var(--ir-border-radius);
	background-color: var(--ir-bg-color);
}

legend:not(.nostyle),
.legend {
	width: auto;
	max-width: 100%;
	display: block;
	padding: 0 0.33em;
	margin: 0;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 500;
	color: var(--ir-label-fg-color);
	white-space: normal;
}

label {
	display: inline-block;

	&[for] {
		cursor: pointer;
	}
}

output {
	display: inline-block;
}

summary {
	display: list-item;
	cursor: pointer;
}

/*--

@type:		category
@title:		Inputs
@category:	Form / Inputs

--*/

input,
textarea,
select,
optgroup,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border-radius: 0;
	margin: 0;
	padding: 0;
	border-style: none;
	text-transform: none;
	max-width: 100%;
	vertical-align: middle;

	&:focus {
		outline: none;
	}
}

input,
select {
	vertical-align: middle;
}


/*--

@title:		Inputs
@category:	Form / Inputs

**selector**: `form`

```example:html
<form action="#">
	<fieldset>
		<legend>Fieldset Legend</legend>
		<div class="fields">
			<div class="field w-33">
				<label for="fld01">Field Label</label>
				<input id="fld01" type="text" size="100" placeholder="Text Input" />
			</div>
			<div class="field w-33">
				<label for="fld02">Field Label</label>
				<input id="fld02" type="email" size="100" placeholder="Email Input" />
			</div>
			<div class="field w-33">
				<label for="fld03">Field Label</label>
				<input id="fld03" type="url" size="100" placeholder="Url Input" />
			</div>
			<div class="field w-33">
				<label for="fld04">Field Label</label>
				<input id="fld04" type="number" size="100" placeholder="Number Input" />
			</div>
			<div class="field w-33">
				<label for="fld05">Field Label</label>
				<input id="fld05" type="datetime-local" size="100" placeholder="Datetime Input" />
			</div>
			<div class="field w-33">
				<label for="fld06">Field Label</label>
				<select id="fld06">
					<option value="0">Zero</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>
			<div class="field w-33">
				<label for="fld07">Field Label</label>
				<label><input id="fld07" type="checkbox" /> Checkbox Label</label>
			</div>
			<div class="field w-66">
				<label for="fld08">Field Label</label>
				<label><input name="fld08"  type="radio" /> Radio Label</label>
				<label><input name="fld08" type="radio" /> Radio Label</label>
			</div>
		</div>
	</fieldset>
</form>
```

--*/

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
textarea,
select {

	&:not(.nostyle)
	{
		padding: 0 0.5em;
		height: 2em;
		line-height: calc(2em - 2px);
		border: 1px solid var(--ir-input-border-color);
		border-radius: var(--ir-border-radius);
		background-color: var(--ir-input-bg-color);
		color: var(--ir-input-fg-color);
		max-width: 100%;

		&:focus {
			border-color: var(--ir-action-color);
		}

		&::placeholder {
			color: var(--ir-placeholder-color);
		}
	}
}


select {
	&:not(.nostyle)
	{
		display: inline-block;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
		background-size: 0.5em auto;
		background-position: right 0.5em top 50%;
		padding-right: 1em;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		cursor: pointer;

		&::-ms-expand {
			display: none;
		}
	}
}



textarea {
	overflow: auto;
	resize: none;

	&:not(.nostyle)
	{
		height: auto;
		line-height: 1.5em;
		padding: 0.25em 0.5em;
		-moz-tab-size: 4;
		tab-size: 4;
	}
}





@mixin range-thumb() {
	-webkit-appearance: none;
	width: 1.5em;
	height: 1.5em;
	border-radius: 0.75em;
	background-color: var(--ir-action-color);
	box-shadow: 0 0.1em 0.1em var(--ir-shadow-color);
	margin-top: -0.5em;
	position: relative;
	z-index: 2;
	border: none;

	&:active {
		background-color: var(--ir-action-active-color);
	}
}

@mixin thumb-track() {
	width: 100%;
	height: 0.5em;
	cursor: pointer;
	box-shadow: inset 0 0.1em 0.1em var(--ir-shadow-color);
	background-color: var(--ir-action-light-color);
	border-radius: var(--ir-border-radius);
}

@mixin thumb-lower() {
	height: 0.5em;
	border-radius: var(--ir-border-radius);
	background-color: var(--ir-action-color);
	box-shadow: inset 0 0.1em 0.1em var(--ir-shadow-color);
	opacity: 0.5;
}

input[type="range"]:not(.nostyle) {
	-webkit-appearance: none;

	&:focus {
		outline: none;
	}

	&::-webkit-slider-thumb {
		@include range-thumb();
	}
	&::-moz-range-thumb {
		@include range-thumb();
	}
	&::-ms-thumb {
		@include range-thumb();
	}

	&::-webkit-slider-runnable-track {
		@include thumb-track();
	}
	&::-moz-range-track {
		@include thumb-track();
	}
	&::-ms-track {
		@include thumb-track();
	}

	&::-ms-fill-lower {
		@include thumb-lower();
	}
	&::-moz-range-progress {
		@include thumb-lower();
	}

	// &::-ms-fill-upper {

	// }
}


input[type="checkbox"]:not(.nostyle),
input[type="radio"]:not(.nostyle) {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	display: inline-block;
	vertical-align: middle;
	padding: 0;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.4em;

	background-color: var(--ir-action-fg-color);
	border: 0.1em solid var(--ir-input-border-color);
	border-radius: var(--ir-border-radius);
	box-shadow: 0 0.1em 0.3em var(--ir-shadow-color) inset;
	cursor: pointer;
	text-align: center;

	&::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		border-radius: calc(var(--ir-border-radius) / 2);
		width: 0.7em;
		height: 0.7em;
		//background-color: var(--ir-action-light-color);
	}

	&:focus {
		border-color: var(--ir-action-color);
	}

	&:checked {
		//background-color: var(--ir-action-light-color);
		//border-color: var(--ir-action-color);

		&::before {
			background-color: var(--ir-action-color);
			box-shadow: 0 0.1em 0.3em var(--ir-shadow-color);
		}
	}
}

input[type="radio"]:not(.nostyle) {
	border-radius: 50%;

	&::before {
		border-radius: 50%;
	}
}


.fields {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
}
.field {
	padding: 0 0.5em;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;

	& > label:first-child,
	.field-label {
		color: var(--label-fg-color);
		display: block;
		font-weight: 600;
		margin-bottom: 0.25em;
	}

	input:not([type="radio"]):not([type="checkbox"]):not([size]),
	textarea,
	select {
		width: 100%;
		max-width: 100%;
	}
}


.checkboxes {
	label,
	.label {
		display: inline-block;
		margin-right: 1.5em;
		cursor: pointer;

		input {
			margin-right: 0.5em;
		}
	}

	&.vertical {
		label,
		.label {
			display: block;
			margin-right: 0;
			margin-bottom: 0.5em;
		}
	}
}


.input-group {
	height: 2em;
	display: inline-flex;
	vertical-align: middle;

	*:first-child:not(input):not(select),
	*:last-child:not(input):not(select) {
		flex: 0 1 auto;
		vertical-align: top;
		height: 2em;
		line-height: 1.9em;
		border: 1px solid var(--ir-input-border-color);
		background-color: var(--ir-label-bg-color);
		color: var(--ir-label-fg-color);
		padding: 0 0.5em;
	}

	*:first-child:not(input):not(select) {
		border-right-width: 0;
		border-radius: var(--ir-border-radius) 0 0 var(--ir-border-radius);
	}

	*:last-child:not(input):not(select) {
		border-left-width: 0;
		border-radius: 0 var(--ir-border-radius) var(--ir-border-radius) 0;
	}

	input,
	select {
		flex: 1 1 auto;

		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}
