// TODO: docs

.menu {
	height: 3em;
	display: flex;
	flex-direction: row;
	background-color: var(--ir-bar-bg-color);
	color: var(--ir-bar-fg-color);
	font-weight: 600;

	&.menu-vertical {
		height: auto;
		flex-direction: column;

		.menu {
			left: 100%;
			top: -0.5em;
			border-radius: 0 var(--ir-border-radius) var(--ir-border-radius) var(--ir-border-radius);
			animation: fadeTopDown 300ms ease;
		}

		.menu-item {
			line-height: 2em;
			padding: 0 1em;
		}

		.menu-item:hover > .menu {
			animation: fadeTopUp 300ms ease;
		}
	}

	.bar.bar-fixed.bar-bottom & {
		.menu {
			top: auto;
			bottom: 100%;
			z-index: 50;
			border-radius: var(--ir-border-radius) var(--ir-border-radius) 0 0;

			.menu {
				top: auto;
				bottom: -0.5em;
				border-radius: var(--ir-border-radius) var(--ir-border-radius) var(--ir-border-radius) 0;
			}
		}

		.menu-drop::before {
			content: '\f0d8';
		}

		.menu .menu-drop::before {
			content: '\f0da';
		}

	}
}

.menu-item,
a.menu-item:not(.nostyle) {
	line-height: 3em;
	// flex: 1 0 auto;
	padding: 0 1.5em;
	position: relative;
	color: inherit;
	// cursor: pointer;

	& > a,
	& > a:hover {
		display: block;
		color: inherit;
		text-decoration: none;
	}

	// Preset Font-Awesome and Material-Icons
	.fa,
	.fas,
	.far,
	.fal,
	.fab,
	.mi {
		margin: 0 0.3em 0 -0.3em;
	}

	.menu {
		flex-direction: column;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 50;
		visibility: hidden;
		height: auto;
		padding: 0.5em 0;
		white-space: nowrap;
		border-radius: 0 0 var(--ir-border-radius) var(--ir-border-radius);
		box-shadow: 0 0.1em 0.3em var(--ir-shadow-color);
		animation: fadeLeftDown 300ms ease;

		.menu {
			left: 100%;
			top: -0.5em;
			border-radius: 0 var(--ir-border-radius) var(--ir-border-radius) var(--ir-border-radius);
		}
	}



	.menu-item-left &,
	&.menu-item-left {
		.menu {
			left: auto;
			right: 0;

			.menu {
				left: auto;
				right: 100%;
				top: -0.5em;
				border-radius: var(--ir-border-radius) 0 var(--ir-border-radius) var(--ir-border-radius);
			}
		}
	}

	.menu-item {
		line-height: 2em;
	}

	&:hover,
	&:focus,
	&.active {
		background-color: var(--ir-action-active-color);
		color: var(--ir-action-fg-color);
		text-decoration: none;
		z-index: 50;
	}

	&:hover,
	&:focus,
	&.open {
		& > .menu {
			visibility: visible;
			animation: fadeLeftUp 300ms ease;
		}
	}
}

.menu-drop {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	line-height: 1em;
	text-align: center;

	&::before {
		font-family: "Font Awesome 5 Free";
		font-weight: 9000;
		content: '\f0d7';
	}

	.menu .menu & {
		&::before {
			content: '\f0da';
		}
	}

	.menu-item-left .menu & {
		&::before {
			content: '\f0d9';
		}
	}

	&:first-child {
		margin-right: 0.5em;
	}

	&:last-child {
		margin-left: 0.5em;
		margin-right: -0.5em;
	}

	.menu.menu-vertical > .menu-item > & {
		position: absolute;
		right: 1em;
		top: 50%;
		margin-top: -0.5em;
		margin-right: 0;

		&::before {
			content: '\f0da';
		}
	}
}
