// TODO: complete docs

/*--

@title:		Bold Text
@category:	Typography / Format
@sequence:	4.1

**selector**: `strong, b, .b`

```example:html

<strong>Consectetur Ipsum Mollis Venenatis Purus</strong><br/>
<b>Consectetur Ipsum Mollis Venenatis Purus</b><br/>
<span class="b">Consectetur Ipsum Mollis Venenatis Purus</span>
```

--*/

strong, b,
.b {
	font-weight: bolder;
}


/*--

@title:		Italic Text
@category:	Typography / Format
@sequence:	4.2

**selector**: `en, i, .i`

```example:html
<em>Consectetur Ipsum Mollis Venenatis Purus</em><br/>
<i>Consectetur Ipsum Mollis Venenatis Purus</i><br/>
<span class="i">Consectetur Ipsum Mollis Venenatis Purus</span>
```

--*/

i, em,
.i {
	font-style: italic;
}


/*--

@title:		Underline Text
@category:	Typography / Format
@sequence:	4.3

**selector**: `u, .u`

```example:html
<u>Consectetur Ipsum Mollis Venenatis Purus</u><br/>
<span class="u">Consectetur Ipsum Mollis Venenatis Purus</span>
```

--*/

u,
.u {
	text-decoration: underline;
}


/*--

@title:		Stroke Text
@category:	Typography / Format
@sequence:	4.4

**selector**: `s, .s`

```example:html
<s>Consectetur Ipsum Mollis Venenatis Purus</s><br/>
<span class="s">Consectetur Ipsum Mollis Venenatis Purus</span>
```

--*/

s,
.s {
	text-decoration: line-through;
}


/*--

@title:		Abbreviation
@category:	Typography / Format
@sequence:	4.5

**selector**: `abbr, .abbr`

```example:html
<abbr title="Cascade Style Sheet">CSS</abbr><br/>
<span class="abbr" title="Hyper Text Mauquee Language">HTML</span>
```

--*/

abbr,
.abbr {
	border-bottom: 0.05em dotted;
	text-decoration: none;
	cursor: help;
}


/*--

@title:		Definition
@category:	Typography / Format
@sequence:	4.6

**selector**: `dfn, .dfn`

```example:html
<dfn>CSS</dfn><br/>
<span class="dfn">HTML</span>
```

--*/

dfn,
.dfn {
	font-style: italic;
}


/*--

@title:		Citation
@category:	Typography / Format
@sequence:	4.7

**selector**: `cite, .cite`

```example:html
<cite>William Shakespeare</cite><br/>
<span class="cite">William Shakespeare</span>
```

--*/

cite,
.cite {
	font-style: italic;
}

/*--

@title:		Deletion
@category:	Typography / Format
@sequence:	4.8

**selector**: `del, .del`

```example:html
<del>William Shakespeare</del><br/>
<span class="del">William Shakespeare</span>
```

--*/


del,
.del {
	text-decoration: line-through;
}
ins,
.ins {
	text-decoration: none;
	font-style: italic;
}
kbd,
.kbd {
	background: var(--ir-fg-color);
    border-radius: var(--ir-border-radius);
    color: var(--ir-bg-color);
	padding: 0em 0.25em;
	font-family: var(--ir-code-font-family);
	font-size: var(--ir-code-font-size);
}
mark,
.mark {
	background-color: var(--ir-hili-bg-color-1);
    border-radius: var(--ir-border-radius);
	padding: 0em 0.25em;

	&.mark-tint-2 {
		background-color: var(--ir-hili-bg-color-2);
	}

	&.mark-tint-3 {
		background-color: var(--ir-hili-bg-color-3);
	}
}
samp,
.samp {
	font-family: var(--ir-code-font-family);
	font-size: var(--ir-code-font-size);
}
time {
	// TODO: time tag
}

small,
.small {
	font-size: 0.8em;
}

sub,
sup,
.sub,
.sup {
	position: relative;
	font-size: 0.75em;
	line-height: 0;
	vertical-align: baseline;
}

sub,
.sub {
	bottom: -.25em;
}
sup,
.sup {
	top: -.5em;
}

q,
.q {
	quotes: none;

	&:before {
		content: '“'
	}
	&:after {
		content: '”';
	}
}

hr {
	border: none;
	width: 100%;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	background-color: var(--ir-gray-color-l);

	&.primary {
		background-color: var(--ir-primary-color-l);
	}

	&.accent {
		background-color: var(--ir-accent-color-l);
	}
}
