/*--

@title:		Headings
@category:	Typography / Headings
@sequence:	2

**selector**: `h1, .h1`
**selector**: `h2, .h2`
**selector**: `h3, .h3`
**selector**: `h4, .h4`
**selector**: `h5, .h5`
**selector**: `h6, .h6`

```example:html
<h1>Heading 1</h1>
<h2 class="accent">Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<span class="h1">Heading 1</span>
<span class="h2">Heading 2</span>
<span class="h3">Heading 3</span>
<span class="h4">Heading 4</span>
<span class="h5">Heading 5</span>
<span class="h6">Heading 6</span>
```

--*/

/*--

@title:		Headings sub-text
@category:	Typography / Headings
@sequence:	2.1

**selector**: `h1 small`
**selector**: `h2 small`
**selector**: `h3 small`
**selector**: `h4 small`
**selector**: `h5 small`
**selector**: `h6 small`

```example:html
<h1>Heading 1 <small>sub-heading text</small></h1>
<h2 class="accent">Heading 2 <small>sub-heading text</small></h2>
<h3>Heading 3 <small>sub-heading text</small></h3>
<h4>Heading 4 <small>sub-heading text</small></h4>
<h5>Heading 5 <small>sub-heading text</small></h5>
<h6>Heading 6 <small>sub-heading text</small></h6>
```

--*/

h1, h2, h3, h4, h5, h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-top: 0.6em;
	margin-bottom: 0.4em;
	color: var(--ir-heading-color);
	line-height: 1.15em;
	display: block;

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}

	&:empty {
		display: none;
	}

	small {
		color: var(--ir-secondary-color-m);
		display: block;
		line-height: 1.15em;
		font-size: 0.75em;

		&:empty {
			display: none;
		}
	}


	// inverse
	.inverse &,
	&.inverse {
		color: var(--heading-inverse-color);
	}
}


// Type Scale Major Third
// https://type-scale.com/


h1,
.h1 {
	font-size: 3.052em;
	font-weight: 200;
	margin-top: calc(2.75em / 3.052);
	margin-bottom: calc(1em / 3.052);
}
h2,
.h2 {
	font-size: 2.441em;
	font-weight: 300;
	margin-top: calc(2.75em / 2.441);
	margin-bottom: calc(1em / 2.441);
}
h3,
.h3 {
	font-size: 1.953em;
	font-weight: 400;
	margin-top: calc(2.75em / 1.953);
	margin-bottom: calc(1em / 1.953);
}
h4,
.h4 {
	font-size: 1.563em;
	font-weight: 500;
	margin-top: calc(2.75em / 1.563);
	margin-bottom: calc(1em / 1.563);
}
h5,
.h5 {
	font-size: 1.25em;
	font-weight: 600;
	margin-top: calc(2.75em / 1.25);
	margin-bottom: calc(1em / 1.25);
}
h6,
.h6 {
	font-size: 1em;
	font-weight: 700;
	margin-top: calc(2.75em / 1);
	margin-bottom: calc(1em / 1);
}
