// TODO: docs

// Box Sizing
@include responsive(bbox) {
	box-sizing: border-box;
}
@include responsive(cbox) {
	box-sizing: content-box;
}

$widths: 0, 5, 10, 15, 20, 25, 30,
	33.33,
	35, 40, 45, 50,
	55, 60, 65,
	66.66,
	70, 75, 80, 85, 90, 95, 100;


// Scroll
@include responsive("scroll")
{
	overflow: auto;
}

@include responsive("noscroll")
{
	overflow: hidden;
}


// Widths
@each $i in $widths {
	$cls: floor($i);

	@include responsive(w-#{$cls}) {
		width: $i * 1%;
	}

	@include responsive(w-max-#{$cls}) {
		width: $i * 1%;
	}

	@include responsive(h-#{$cls}) {
		height: $i * 1%;
	}
}

@include responsive(w-auto) {
	width: auto;
}
@include responsive(h-auto) {
	height: auto;
}

@include responsive(w-fit) {
	max-width: 100%;
}
@include responsive(h-fit) {
	max-height: 100%;
}

$paddings: (
	"0": 0,
	"0-25": 0.25,
	"0-5": 0.5,
	"0-75": 0.75,
	"1": 1,
	"1-25": 1.25,
	"1-5": 1.5,
	"1-75": 1.75,
	"2": 2,
	"2-5": 2.5,
	"3": 3,
	"3-5": 3.5,
	"4": 4,
	"4-5": 4.5,
	"5": 5
);

// Paddings
@each $key, $i in $paddings {

	@include responsive(p-#{$key})
	{
		padding: 1em * $i !important;
	}

	@include responsive(pv-#{$key})
	{
		padding-top: 1em * $i !important;
		padding-bottom: 1em * $i !important;
	}

	@include responsive(ph-#{$key})
	{
		padding-left: 1em * $i !important;
		padding-right: 1em * $i !important;
	}

	@include responsive(pt-#{$key})
	{
		padding-top: 1em * $i !important;
	}

	@include responsive(pr-#{$key})
	{
		padding-right: 1em * $i !important;
	}

	@include responsive(pb-#{$key})
	{
		padding-bottom: 1em * $i !important;
	}

	@include responsive(pl-#{$key})
	{
		padding-left: 1em * $i !important;
	}

	// MARGINS

	@include responsive(m-#{$key})
	{
		margin: 1em * $i !important;
	}

	@include responsive(m-n-#{$key})
	{
		margin: -1em * $i !important;
	}

	@include responsive(mv-#{$key})
	{
		margin-top: 1em * $i !important;
		margin-bottom: 1em * $i !important;
	}

	@include responsive(mv-n-#{$key})
	{
		margin-top: -1em * $i !important;
		margin-bottom: -1em * $i !important;
	}

	@include responsive(mh-#{$key})
	{
		margin-left: 1em * $i !important;
		margin-right: 1em * $i !important;
	}

	@include responsive(mh-n-#{$key})
	{
		margin-left: -1em * $i !important;
		margin-right: -1em * $i !important;
	}

	@include responsive(mh-auto)
	{
		margin-left: auto !important;
		margin-right: auto !important;
	}

	@include responsive(mt-#{$key})
	{
		margin-top: 1em * $i !important;
	}

	@include responsive(mt-n-#{$key})
	{
		margin-top: -1em * $i !important;
	}

	@include responsive(mr-#{$key})
	{
		margin-right: 1em * $i !important;
	}

	@include responsive(mr-n-#{$key})
	{
		margin-right: -1em * $i !important;
	}

	@include responsive(mb-#{$key})
	{
		margin-bottom: 1em * $i !important;
	}

	@include responsive(mb-n-#{$key})
	{
		margin-bottom: -1em * $i !important;
	}

	@include responsive(ml-#{$key})
	{
		margin-left: 1em * $i !important;
	}

	@include responsive(ml-n-#{$key})
	{
		margin-left: -1em * $i !important;
	}
}

@include responsive("mh-auto")
{
	margin-left: auto !important;
	margin-right: auto !important;
}



$borders: (
	"0": 0,
	"1": 1,
	"2": 2,
	"3": 3,
	"4": 4,
	"5": 5
);

// Borders
@each $key, $i in $borders {

	@include responsive(rd-#{$key})
	{
		border-width: #{1px * $i} !important;
	}

	@include responsive(rd-t-#{$key})
	{
		border-top-width: #{1px * $i} !important;
	}

	@include responsive(rd-b-#{$key})
	{
		border-bottom-width: #{1px * $i} !important;
	}

	@include responsive(rd-l-#{$key})
	{
		border-left-width: #{1px * $i} !important;
	}

	@include responsive(rd-r-#{$key})
	{
		border-right-width: #{1px * $i} !important;
	}
}
