/*--

@title:		Button
@category:	Form / Buttons

**selector**: `.btn`

```example:html
<a href="#" class="btn">My Button</a>
```

--*/

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn,
a.btn:not(.nostyle) {
	width: auto;
	overflow: visible;
	display: inline-flex;
	padding: var(--ir-input-padding);
	line-height: var(--ir-input-height);
	height: var(--ir-inputs-height);
	background-color: var(--ir-action-color);
	color: var(--ir-action-fg-color);
	border-radius: var(--ir-border-radius);
	font-weight: bold;
	box-shadow: var(--ir-shadow-1);
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	position: relative;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	transition: box-shadow 160ms ease,
		background-color 160ms ease,
		color 160ms ease,
		border-color 160ms ease;


	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
		outline: 0;
	}

	&:focus,
	&:active,
	&::-moz-focus-inner {
		outline: none;
	}

	&:hover,
	&:focus {
		background-color: var(--ir-action-active-color) !important;
		text-decoration: none;
		box-shadow: var(--ir-shadow-2);
		z-index: 10;
	}

	&:active,
	&.active {
		box-shadow: var(--ir-shadow-1);
	}

/*--

@title:		Thin Button
@category:	Form / Buttons

**selector**: `.btn.thin`

```example:html
<a href="#" class="btn thin">My Button</a>
```

--*/

	&.thin {
		font-size: 0.85em;
	}

/*--

@title:		Big Button
@category:	Form / Buttons

**selector**: `.btn.big`

```example:html
<a href="#" class="btn big">My Button</a>
```

--*/

	&.big {
		font-size: 1.2em;
	}

/*--

@title:		Wide Button
@category:	Form / Buttons

**selector**: `.btn.wide`

```example:html
<a href="#" class="btn wide">My Button</a>
```

--*/

	&.wide {
		width: 100%;
		display: block;
	}

/*--

@title:		Disabled Button
@category:	Form / Buttons

**selector**: `.btn.disabled`

```example:html
<button disabled>My Button</button><br/><br/>
<a href="#" class="btn disabled">My Button</a>
```

--*/

	&.disabled,
	&:disabled,
	&[disabled] {
		cursor: not-allowed !important;
		background-color: var(--ir-gray-color-ll);
		color: var(--ir-gray-color-m);
		box-shadow: none;

		&:hover,
		&:focus {
			background-color: var(--ir-gray-color-ll) !important;
			color: var(--ir-gray-color-m) !important;
		}
	}


	// Preset for Font-Awesome and Material-Icons
	.fa,
	.fas,
	.far,
	.fal,
	.fab,
	.mi {
		width: 1.25em;
		margin-right: 0.5em;
	}

	/*--

@title:		Accent Color Button
@category:	Form / Buttons

**selector**: `.btn.accent`

```example:html
<a href="#" class="btn accent">My Button</a>
```

--*/

&.accent {
	background-color: var(--ir-accent-color-d);

	&:hover,
	&:focus {
		background-color: var(--ir-accent-color-m) !important;
	}
}

/*--

@title:		Success State Button
@category:	Form / Buttons

**selector**: `.btn.success`

```example:html
<a href="#" class="btn success">My Button</a>
```

--*/

	&.success {
		background-color: var(--ir-success-color-d);

		&:hover,
		&:focus {
			background-color: var(--ir-success-color-m) !important;
		}
	}

/*--

@title:		Warning State Button
@category:	Form / Buttons

**selector**: `.btn.warning`

```example:html
<a href="#" class="btn warning">My Button</a>
```

--*/

	&.warning {
		background-color: var(--ir-warning-color-d);

		&:hover,
		&:focus {
			background-color: var(--ir-warning-color-m) !important;
		}
	}

/*--

@title:		Critical State Button
@category:	Form / Buttons

**selector**: `.btn.critical`

```example:html
<a href="#" class="btn critical">My Button</a>
```

--*/

	&.critical {
		background-color: var(--ir-critical-color-d);

		&:hover,
		&:focus {
			background-color: var(--ir-critical-color-m) !important;
		}
	}

/*--

@title:		Rounded Button
@category:	Form / Buttons

**selector**: `.btn.rounded`

```example:html
<a href="#" class="btn rounded">My Button</a>
<a href="#" class="btn rounded accent">My Button</a>
<a href="#" class="btn rounded success">My Button</a>
<a href="#" class="btn rounded warning">My Button</a>
<a href="#" class="btn rounded critical">My Button</a>
<a href="#" class="btn rounded disabled">My Button</a>
```

--*/

	&.rounded {
		border-radius: calc(var(--ir-input-height) / 2);
	}

/*--

@title:		Outline Button
@category:	Form / Buttons

**selector**: `.btn.outline`

```example:html
<a href="#" class="btn outline">My Button</a>
<a href="#" class="btn outline accent">My Button</a>
<a href="#" class="btn outline success">My Button</a>
<a href="#" class="btn outline warning">My Button</a>
<a href="#" class="btn outline critical">My Button</a>
<a href="#" class="btn outline disabled">My Button</a>
```

--*/

	&.outline {
		background: var(--ir-bg-color) !important;
		border-width: 1px;
		border-style: solid;
		color: var(--ir-action-color);

		&:hover,
		&:focus {
			background-color: var(--ir-bg-color) !important;
			color: var(--ir-action-active-color);
			border-color: var(--ir-action-active-color) !important;
		}

		&.accent {
			border-color: var(--ir-accent-color-d);
			color: var(--ir-accent-color-d);;

			&:hover,
			&:focus {
				color: var(--ir-accent-color-m);
				border-color: var(--ir-accent-color-m) !important;
			}
		}

		&.critical {
			border-color: var(--ir-critical-color-d);
			color: var(--ir-critical-color-d);;

			&:hover,
			&:focus {
				color: var(--ir-critical-color-m);
				border-color: var(--ir-critical-color-m) !important;
			}
		}

		&.warning {
			border-color: var(--ir-warning-color-d);
			color: var(--ir-warning-color-d);;

			&:hover,
			&:focus {
				color: var(--ir-warning-color-m);
				border-color: var(--ir-warning-color-m) !important;
			}
		}

		&.success {
			border-color: var(--ir-success-color-d);
			color: var(--ir-success-color-d);;

			&:hover,
			&:focus {
				color: var(--ir-success-color-m);
				border-color: var(--ir-success-color-m) !important;
			}
		}

		&.disabled {
			border-color: var(--ir-gray-color-m);
			color: var(--ir-gray-color-m);

			&:hover,
			&:focus {
				border-color: var(--ir-gray-color-m) !important;
				color: var(--ir-gray-color-m) !important;
			}
		}
	}

/*--

@title:		Discrete Button
@category:	Form / Buttons

**selector**: `.btn.discrete`

```example:html
<a href="#" class="btn discrete">My Button</a>
<a href="#" class="btn discrete accent">My Button</a>
<a href="#" class="btn discrete success">My Button</a>
<a href="#" class="btn discrete warning">My Button</a>
<a href="#" class="btn discrete critical">My Button</a>
<a href="#" class="btn discrete disabled">My Button</a>
```

--*/

	&.discrete {
		background: var(--ir-bg-color) !important;
		color: var(--ir-action-color);
		box-shadow: 0 0 0 currentColor inset;
		border: 1px solid var(--ir-bg-color);

		&:hover,
		&:focus {
			background-color: var(--ir-bg-color) !important;
			color: var(--ir-action-active-color);
			box-shadow: 0 0 0.2em currentColor inset;
			border-color: currentColor;
		}

		&.accent {
			color: var(--ir-accent-color-d);

			&:hover,
			&:focus {
				color: var(--ir-accent-color-m);
			}
		}

		&.critical {
			color: var(--ir-critical-color-d);

			&:hover,
			&:focus {
				color: var(--ir-critical-color-m);
			}
		}
		&.warning {
			color: var(--ir-warning-color-d);

			&:hover,
			&:focus {
				color: var(--ir-warning-color-m);
			}
		}
		&.success {
			color: var(--ir-success-color-d);;

			&:hover,
			&:focus {
				color: var(--ir-success-color-m);
			}
		}
		&.disabled {
			color: var(--ir-gray-color-d);

			&:hover,
			&:focus {
				box-shadow: none !important;
				border-color: var(--ir-bg-color) !important;
				color: var(--ir-gray-color-d) !important;
			}
		}
	}
}


/*--

@title:		Buttons Group
@category:	Form / Buttons

**selector**: `.btn-group`

```example:html
<div class="btn-group">
	<a href="#" class="btn">My Button</a>
	<a href="#" class="btn accent">My Button</a>
	<a href="#" class="btn success">My Button</a>
	<a href="#" class="btn warning">My Button</a>
	<a href="#" class="btn critical">My Button</a>
	<a href="#" class="btn disabled">My Button</a>
</div>
<br/>
<div class="btn-group">
	<a href="#" class="btn outline">My Button</a>
	<a href="#" class="btn outline accent">My Button</a>
	<a href="#" class="btn outline success">My Button</a>
	<a href="#" class="btn outline warning">My Button</a>
	<a href="#" class="btn outline critical">My Button</a>
	<a href="#" class="btn outline disabled">My Button</a>
</div>
<br/>
<div class="btn-group">
	<a href="#" class="btn discrete">My Button</a>
	<a href="#" class="btn discrete accent">My Button</a>
	<a href="#" class="btn discrete success">My Button</a>
	<a href="#" class="btn discrete warning">My Button</a>
	<a href="#" class="btn discrete critical">My Button</a>
	<a href="#" class="btn discrete disabled">My Button</a>
</div>
```

--*/


/*--

@title:		Buttons Group Vertical
@category:	Form / Buttons

**selector**: `.btn-group.vertical`

```example:html
<div class="btn-group vertical">
	<a href="#" class="btn">My Button</a>
	<a href="#" class="btn accent">My Button</a>
	<a href="#" class="btn success">My Button</a>
	<a href="#" class="btn warning">My Button</a>
	<a href="#" class="btn critical">My Button</a>
	<a href="#" class="btn disabled">My Button</a>
</div>
```

--*/


.btn-group {
	display: inline-flex;
	vertical-align: middle;

	& + .btn-group {
		margin-left: 0.5em;
	}

	&:not(.vertical)
	{
		button,
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.btn {
			display: inline-flex;
			flex: 1 1 auto;

			&:not(:last-child) {
				border-right: none;
			}

			&:not(:first-child) {
				border-left: none;
			}

			&:first-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:not(:first-child):not(:last-child) {
				border-radius: 0;
			}

			&:last-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	&.vertical {
		flex-direction: column;

		button,
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.btn {
			display: inline-flex;
			flex: 1;

			&:not(:last-child) {
				border-bottom: none;
			}

			&:not(:first-child) {
				border-top: none;
			}

			&:first-child {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:not(:first-child):not(:last-child) {
				border-radius: 0;
			}

			&:last-child {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
}



/*--

@title:		Buttons Set
@category:	Form / Buttons

**selector**: `.btn-set`

```example:html
<div class="btn-set">
	<a href="#" class="btn">My Button</a>
	<a href="#" class="btn accent">My Button</a>
	<a href="#" class="btn success">My Button</a>
	<a href="#" class="btn warning">My Button</a>
	<a href="#" class="btn critical">My Button</a>
	<a href="#" class="btn disabled">My Button</a>
</div>
```

--*/


.btn-set {
	display: inline-flex;
	vertical-align: middle;

	&:not(.vertical)
	{
		button,
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.btn {
			display: inline-flex;
			flex: 1 1 auto;
			margin-right: 0.5em;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
