@-ms-viewport {
	width: device-width;
}

:root,
html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	width: 100%;
	height: 100%;
	// remove 300ms delay (and double tap to zoom)
	touch-action: manipulation;
	font-family: var(--ir-base-font-family);
	font-size: var(--ir-base-font-size);
	line-height: var(--ir-base-line-height);
}

*,
*::before,
*::after {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	outline: none;
	outline: 0;
	outline-offset: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
	/* remove webkit tap highlight */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border: 0 solid currentColor;
	//line-height: inherit;
}

* {
	left: var(--left);
	top: var(--top);
	right: var(--right);
	bottom: var(--bottom);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	min-width: 0;
    margin: 0;
    padding: 0;
    border: 0 solid currentColor;
	font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	-webkit-text-size-adjust: none;
}

body {
	background-color: var(--ir-bg-color);
	color: var(--ir-fg-color);
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: 400;
	text-align: left;
}

template,
[hidden] {
	display: none !important;
}

iframe {
	vertical-align: middle;
}

*:focus,
*:active {
	outline: 0;
}

[unselectable] {
	user-select: none;
}





