// TODO: docs


.with-ttip {
	position: relative;

	&:hover,
	&:focus {
		.ttip {
			display: block;
		}
	}
}
	.ttip-pos-t,
	.ttip-pos-b,
	.ttip-pos-l,
	.ttip-pos-r {
		width: 0;
		height: 0;
		display: block;
		pointer-events: none;
		position: absolute;

		&.visible .ttip {
			display: block;
		}
	}

	.ttip-pos-t {
		left: 50%;
		top: 0;
	}

	.ttip-pos-b {
		left: 50%;
		bottom: 0;
	}

	.ttip-pos-l {
		top: 50%;
		left: 0;
	}

	.ttip-pos-r {
		top: 50%;
		right: 0;
	}

	.ttip {
		background-color: var(--ir-tooltip-bg-color);
		color: var(--ir-tooltip-fg-color);
		display: none;
		font-size: 0.9em;
		//max-width: 16em;
		line-height: 1em;
		min-height: 2em;
		padding: 0.5em;
		border-radius: var(--ir-border-radius);
		text-align: center;
		z-index: 50;
		pointer-events: none;
		position: absolute;
		//left: -50%;
		bottom: 0.5em;
		left: 50%;
		transform: translate(-50%, 0);
		white-space: nowrap;
		box-shadow: 0 0.1em 0.3em var(--ir-shadow-color);

		&::before {
			content: attr(data-value)
		}

		&::after {
			content: '';
			width: 0;
			height: 0;
			border-top: 0.5em solid var(--ir-tooltip-bg-color);
			border-left: 0.5em solid transparent;
			border-right: 0.5em solid transparent;
			position: absolute;
			left: 50%;
			top: 100%;
			margin-left: -0.5em;
		}

		.ttip-pos-b & {
			bottom: auto;
			top: 0.5em;

			&::after {
				border-top-width: 0;
				border-bottom: 0.5em solid var(--ir-tooltip-bg-color);
				top: auto;
				bottom: 100%;
			}
		}

		.ttip-pos-l & {
			left: auto;
			right: 0.5em;
			top: 50%;
			transform: translate(0, -50%);

			&::after {
				border-top: 0.5em solid transparent;
				border-bottom: 0.5em solid transparent;
				border-left: 0.5em solid var(--ir-tooltip-bg-color);
				border-right: none;
				top: 50%;
				left: 100%;
				margin-left: 0;
				margin-top: -0.5em;
			}
		}

		.ttip-pos-r & {
			left: 0.5em;
			top: -50%;
			transform: translate(0, -50%);

			&::after {
				border-top: 0.5em solid transparent;
				border-bottom: 0.5em solid transparent;
				border-right: 0.5em solid var(--ir-tooltip-bg-color);
				border-left: none;
				top: 50%;
				right: 100%;
				left: auto;
				margin-left: 0;
				margin-top: -0.5em;
			}
		}

		&.visible {
			display: block;
		}
	}
