@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i|Roboto:300,300i,400,400i,700,700i');

:root {

	$primary-color: #14439F;
	--ir-primary-color-ll: #{lighten($primary-color, 20%)};
	--ir-primary-color-l: #{lighten($primary-color, 10%)};
	--ir-primary-color-m: #{$primary-color};
	--ir-primary-color-d: #{darken($primary-color, 10%)};
	--ir-primary-color-dd: #{darken($primary-color, 20%)};

	$accent-color: #DB4E4B;
	--ir-accent-color-ll: #{lighten($accent-color, 20%)};
	--ir-accent-color-l: #{lighten($accent-color, 20%)};
	--ir-accent-color-m: #{$accent-color};
	--ir-accent-color-d: #{darken($accent-color, 10%)};
	--ir-accent-color-dd: #{darken($accent-color, 20%)};

	--ir-gray-color-lll: #F8F8F8;
	--ir-gray-color-ll: #EEEEEE;
	--ir-gray-color-l: #CCCCCC;
	--ir-gray-color-m: #999999;
	--ir-gray-color-d: #666666;
	--ir-gray-color-dd: #333333;
	--ir-gray-color-ddd: #181818;

	--ir-base-font-family: 'Roboto', sans-serif;
	// --ir-base-font-size: 14px;
	// --ir-base-line-height: 1.4em;
	--ir-base-font-size: calc(12px + 0.3vw);
	--ir-base-line-height: calc(12px + 1vw);

	--ir-bg-color: #FFFFFF;
	--ir-bg-color-0: fade(#FFFFFF, 0%);
	--ir-fg-color: #000000;
	--ir-fg-color-0: fade(#000000, 0%);

	--ir-secondary-color-l: var(--ir-gray-color-m);
	--ir-secondary-color-m: var(--ir-gray-color-d);
	--ir-secondary-color-d: var(--ir-gray-color-dd);

	--ir-border-color: var(--ir-gray-color-l);
	--ir-border-radius: 0.15em;

	--ir-action-color: var(--ir-primary-color-m);
	--ir-action-active-color: var(--ir-primary-color-l);
	--ir-action-light-color: var(--ir-primary-color-ll);
	--ir-action-fg-color: var(--ir-bg-color);

	--ir-hili-bg-color-1: #F9F192;
	--ir-hili-bg-color-2: #F992F1;
	--ir-hili-bg-color-3: #92F1F9;

	--ir-code-fg-color: var(--ir-primary-color-m);
	--ir-code-bg-color: var(--ir-gray-color-lll);
	--ir-code-lang-color: var(--ir-gray-color-l);
	--ir-code-font-family: 'Roboto Mono', monospace;
	--ir-code-font-size: 1em;

	--ir-heading-color: var(--ir-primary-color-d);

	--ir-blockquote-border-color: var(--ir-gray-color-lll);

	--ir-table-bg-color: var(--ir-bg-color);
	--ir-table-head-color: var(--ir-gray-color-l);
	--ir-table-border-color: var(--ir-gray-color-ll);
	--ir-table-striped-color: var(--ir-gray-color-lll);

	$msg-color: #999999;
	--ir-msg-color-l: #{lighten($msg-color, 35%)};
	--ir-msg-color-m: #{darken($msg-color, 15%)};
	--ir-msg-color-d: #{darken($msg-color, 25%)};

	$success-color: #33AA33;
	--ir-success-color-l: #{lighten($success-color, 51%)};
	--ir-success-color-m: #{darken($success-color, 0%)};
	--ir-success-color-d: #{darken($success-color, 5%)};

	$info-color: #3366CC;
	--ir-info-color-l: #{lighten($info-color, 45%)};
	--ir-info-color-m: #{darken($info-color, 5%)};
	--ir-info-color-d: #{darken($info-color, 10%)};

	$warning-color: #FFAA33;
	--ir-warning-color-l: #{lighten($warning-color, 35%)};
	--ir-warning-color-m: #{darken($warning-color, 10%)};
	--ir-warning-color-d: #{darken($warning-color, 15%)};

	$critical-color: #FF5522;
	--ir-critical-color-l: #{lighten($critical-color, 40%)};
	--ir-critical-color-m: #{darken($critical-color, 10%)};
	--ir-critical-color-d: #{darken($critical-color, 15%)};

	--ir-red-color-l: #{lighten(#FF3333, 30%)};
	--ir-red-color-m: #{darken(#FF3333, 20%)};
	--ir-re-color-d: #{darken(#FF3333, 30%)};

	--ir-orange-color-l: #{lighten(#FF9933, 30%)};
	--ir-orange-color-m: #{darken(#FF9933, 20%)};
	--ir-orange-color-d: #{darken(#FF9933, 30%)};

	--ir-yellow-color-l: #{lighten(#FFCC33, 30%)};
	--ir-yellow-color-m: #{darken(#FFCC33, 20%)};
	--ir-yellow-color-d: #{darken(#FFCC33, 30%)};

	--ir-green-color-l: #{lighten(#66CC33, 30%)};
	--ir-green-color-m: #{darken(#66CC33, 20%)};
	--ir-green-color-d: #{darken(#66CC33, 30%)};

	--ir-teal-color-l: #{lighten(#48CFAD, 30%)};
	--ir-teal-color-m: #{darken(#48CFAD, 20%)};
	--ir-teal-color-d: #{darken(#48CFAD, 30%)};

	--ir-sky-color-l: #{lighten(#4FC1E9, 30%)};
	--ir-sky-color-m: #{darken(#4FC1E9, 20%)};
	--ir-sky-color-d: #{darken(#4FC1E9, 30%)};

	--ir-blue-color-l: #{lighten(#4D9CEC, 30%)};
	--ir-blue-color-m: #{darken(#4D9CEC, 20%)};
	--ir-blue-color-d: #{darken(#4D9CEC, 30%)};

	--ir-purple-color-l: #{lighten(#AC92EC, 20%)};
	--ir-purple-color-m: #{darken(#AC92EC, 20%)};
	--ir-purple-color-d: #{darken(#AC92EC, 30%)};

	--ir-pink-color-l: #{lighten(#EC87C0, 23%)};
	--ir-pink-color-m: #{darken(#EC87C0, 20%)};
	--ir-pink-color-d: #{darken(#EC87C0, 30%)};

	--ir-lgray-color-l: #{lighten(#C9D7E0, 12%)};
	--ir-lgray-color-m: #{darken(#C9D7E0, 20%)};
	--ir-lgray-color-d: #{darken(#C9D7E0, 30%)};

	--ir-mgray-color-l: #{lighten(#8F9AA8, 30%)};
	--ir-mgray-color-m: #{darken(#8F9AA8, 20%)};
	--ir-mgray-color-d: #{darken(#8F9AA8, 30%)};

	--ir-dgray-color-l: #{lighten(#2F3640, 50%)};
	--ir-dgray-color-m: #{darken(#2F3640, 20%)};
	--ir-dgray-color-d: #{darken(#2F3640, 30%)};

	$tag-color: #556677;
	--ir-tag-bg-color: #{darken($tag-color, 10%)};
	--ir-tag-fg-color: var(--ir-bg-color);
	--ir-tag-active-bg-color: #{lighten($tag-color, 10%)};
	--ir-tag-active-fg-color: var(--ir-bg-color);

	--ir-light-border-color: var(--ir-gray-color-ll);

	--ir-label-padding: 0.25em 0;
	--ir-label-fg-color: var(--ir-gray-color-d);

	--ir-input-padding: 0 1em;
	--ir-input-textarea-padding: 0.6em 1em;
	--ir-input-height: 2.4em;
	--ir-input-border-color: var(--ir-gray-color-l);
	--ir-input-bg-color-0: var(--ir-bg-color-0);
	--ir-input-bg-color: var(--ir-bg-color);
	--ir-input-fg-color: var(--ir-fg-color);
	--ir-input-disabled-border-color: var(--ir-gray-color-l);
	--ir-input-disabled-bg-color: var(--ir-gray-color-ll);
	--ir-input-disabled-fg-color: var(--ir-gray-color-d);
	--ir-input-invalid-border-color: var(--ir-critical-color-m);
	--ir-input-invalid-bg-color: var(--ir-critical-color-l);
	--ir-input-invalid-fg-color: var(--ir-critical-color-d);

	--ir-placeholder-color: var(--ir-gray-color-m);

	--ir-bar-bg-color: var(--ir-gray-color-lll);
	--ir-bar-fg-color: var(--ir-gray-color-dd);
	--ir-bar-hover-bg-color: var(--ir-bg-color);
	--ir-bar-hover-fg-color: var(--ir-fg-color);

	--ir-shadow-color: rgba(0, 0, 0, 0.3);
	--ir-shadow-blur: 4;

	// Image Frame
	--ir-frame-color: var(--ir-gray-color-l);

	--ir-tooltip-bg-color: var(--ir-gray-color-dd);
	--ir-tooltip-fg-color: var(--ir-bg-color);

	--ir-progress-bg-color: var(--ir-gray-color-ll);

	--ir-pagination-border-color: var(--ir-gray-color-ll);

	--ir-panel-border-color: var(--ir-gray-color-ll);
	--ir-panel-body-color: var(--ir-bg-color);
	--ir-panel-header-color: var(--ir-gray-color-lll);

	--ir-folio-bg-color: var(--ir-bg-color);
	--ir-folio-fg-color: var(--ir-fg-color);

	--ir-cnt-bg-color: var(--ir-bg-color);
	--ir-cnt-fg-color: var(--ir-fg-color);
	--ir-cnt-border-color: var(--ir-border-color);
	--ir-cnt-padding: 2em;
	--ir-cnt-border-radius: 0.5em;

	--ir-chess-size: 10px;

	--ir-modal-bg-color: rgba(0, 0, 0, 0.8);
}

// ACCENT
.accent {

	--ir-action-color: var(--ir-accent-color-m);
	--ir-action-active-color: var(--ir-accent-color-l);
	--ir-action-light-color: var(--ir-accent-color-ll);

	--ir-heading-color: var(--ir-accent-color-d);
}

// INVERSE
@mixin inverse-colors {
	--ir-gray-color-ddd: #F8F8F8;
	--ir-gray-color-dd: #EEEEEE;
	--ir-gray-color-d: #CCCCCC;
	--ir-gray-color-m: #999999;
	--ir-gray-color-l: #666666;
	--ir-gray-color-ll: #333333;
	--ir-gray-color-lll: #181818;

	--ir-bg-color: #222222;
	--ir-bg-color-0: rgba(0, 0, 0, 0);
	--ir-fg-color: #FFFFFF;
	--ir-fg-color-0: rgba(255, 255, 255, 0);

	--ir-secondary-color-l: var(--ir-gray-color-l);
	--ir-secondary-color-m: var(--ir-gray-color-m);
	--ir-secondary-color-d: var(--ir-gray-color-d);

	--ir-border-color: var(--ir-gray-color-l);

	--ir-action-color: var(--ir-primary-color-m);
	--ir-action-active-color: var(--ir-primary-color-l);
	--ir-action-light-color: var(--ir-primary-color-ll);
	--ir-action-fg-color: var(--ir-fg-color);

	--ir-heading-color: var(--ir-primary-color-d);
	--ir-heading-accent-color: var(--ir-accent-color-d);

	--ir-blockquote-border-color: var(--ir-gray-color-lll);

	--ir-table-bg-color: var(--ir-bg-color);
	--ir-table-head-color: var(--ir-gray-color-l);
	--ir-table-border-color: var(--ir-gray-color-ll);
	--ir-table-striped-color: var(--ir-gray-color-lll);

	--ir-bar-bg-color: var(--ir-gray-color-lll);
	--ir-bar-fg-color: var(--ir-gray-color-dd);
	--ir-bar-hover-bg-color: var(--ir-bg-color);
	--ir-bar-hover-fg-color: var(--ir-fg-color);

	--ir-frame-color: var(--ir-gray-color-l);

	--ir-tooltip-bg-color: var(--ir-gray-color-dd);
	--ir-tooltip-fg-color: var(--ir-bg-color);

	--ir-progress-bg-color: var(--ir-gray-color-ll);

	--ir-pagination-border-color: var(--ir-gray-color-ll);

	--ir-panel-border-color: var(--ir-gray-color-ll);
	--ir-panel-body-color: var(--ir-bg-color);
	--ir-panel-header-color: var(--ir-gray-color-lll);

	--ir-folio-bg-color: var(--ir-bg-color);
	--ir-folio-fg-color: var(--ir-fg-color);

	--ir-cnt-bg-color: var(--ir-bg-color);
	--ir-cnt-fg-color: var(--ir-fg-color);
	--ir-cnt-border-color: var(--ir-border-color);
}

.inverse {
	@include inverse-colors();
}

@media (prefers-color-scheme: dark) {
	.enable-dark-scheme {
		@include inverse-colors();
	}
}
